<app-doc-container>
    <div doc-container-info>
        <strong>modal documentation is here</strong>
    </div>

    <div doc-container-code>
        <h3>Default</h3>
        <app-code-container>
            <div code-output>
                <button>Submit</button>
            </div>
            <div code-sample>
                &lt;button&gt;Submit&lt;/button&gt;
            </div>
        </app-code-container>

        <h3>Disabled</h3>
        <app-code-container>
            <div code-output>
                <button disabled>Submit</button>
            </div>
            <div code-sample>
                &lt;button disabled&gt;Submit&lt;/button&gt;
            </div>
        </app-code-container>
    </div>

    <div doc-container-documentation>
        Documentation:
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae facilis quisquam itaque, neque debitis
        eaque reiciendis dolorum ratione praesentium perferendis odit quia beatae magni? Aut, temporibus labore? Fuga,
        nisi exercitationem.
    </div>
</app-doc-container>